body
{
    background: linear-gradient(90deg, #07233b 1.67%, #041d34 39.95%, #04192d 58.24%, #040e18 80.28%, #050c16 101.48%);
    /* height: 100vh; */
    color: white;
    font-family: "Domine","Halveco";
}
html 
{
    font-size: 16px;
    font-family: "Domine", serif;
}
#about-me,header,#contact,#projects,#review,#blog,#my-experience
{
    padding-top: 100px;
}
img 
{
    width: 100%;
}
:root
{
    --contact-bottom-bg:#052949;
    --contact-top-bg:#051C33;
}
.moverot 
{
    bottom: -100px;
    left: -20px;
    z-index: -1;
    animation: rotator 50s infinite linear backwards ;
}
.moverot2 
{
    top: 60px;
    right: -60px;
    z-index: -1;
    animation: rotator 50s infinite linear backwards ;
}

.btn-cl 
{
    background-color: #0788FF;
    border: 1px solid #0788FF;
    transition: .5s ease-out;
    border-radius: 100px;
    font-size: 1rem;
    padding: 15px 30px !important;
    color: white;
}
.btn-cl:hover
{
    background-color: #040C16;
     border: 1px solid white;
}
@keyframes rotator
{
    to {
        transform: rotate(360deg);
    }
}
#my-experience .ico 
{
    width: 72px;
    font-size: 1.8rem;
    height: 72px;
    background-color: #3b1da9;
}
#my-experience ul{position: relative;}
#my-experience ul::before
{
    position: absolute;
    top: 40px;
    left: 67px;
    content: "";
    width: 1px;
    height: 90%;
    background-color: #0788FF;
    z-index: -1;
}


nav 
{
    padding: 20px 0 !important;
}
.navbar-brand 
{
    font-size: 2rem;
}
.nav-item a:not(.btn-cl) 
{
    padding: 20px 0 !important;
}
.nav-item 
{
    padding: 0 20px !important;
    position: relative;
    overflow: hidden;

}
.nav-item::before
{
    position: absolute;
    bottom: 0;
    left: -100%;
    content: "";
    border-bottom: 2px solid yellowgreen;
    width: 100%;
    transition: .4s ease-in;
}
.nav-item:not(:has(.btn-cl)):hover::before {
    left: 0;
}

#about-me ul 
{
    width: 80%;
}
.bg-my 
{
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    background: rgba(7, 136, 255, .2);;
}
.changer 
{
    display: none;
}
.activa
{
    display: block !important;
}
.sec1 
{
    padding: 50px 20px;
}
.card 
{
    margin: 40px 0 !important;
}
iframe
{
    height: 400px;
}
.ico
{
    width: 50px;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    height: 50px;
    border-radius: 100%;
    background-color: rgb(75, 75, 200);
    text-decoration: none;
    color: white;
    transition-duration: .5s;
}
.ico:hover
{
    transform: translateY(-5px);
    background-color: #040C16;
}
#projects .col-lg-4 
{
    margin-bottom: 60px !important;
}
#about-me li {
    cursor: pointer;
    transition-duration: .2s;
    font-weight: 200;
    font-size: 1.1rem;
}
#about-me li:hover
{
    color: #0788FF;
}
.hide
{
    display: none;
}

input,textarea
{
    padding: 10px !important;
    background-color: #123B60 !important;
    color: white !important;
    border: none !important;
}
input::placeholder,textarea::placeholder
{
    padding-left: 10px;
    color: #6b9ec9 !important;
    opacity: .9;
}
input:focus,textarea:focus
{
   box-shadow: none !important;
}
textarea
{
    height: 150px;
    resize: none;
}

.contact-bottom{
    background-color: var(--contact-bottom-bg);
}
.contact-top{
    background-color: var(--contact-top-bg);
    padding: 50px;
}
.contact-bottom img 
{
    top: -120px;
    width: 85%;
      margin: 20px;
    border-radius: 40px !important;
}

nav li a
{
    color: white !important;
}
.padcet 
{
    padding: 40px 80px !important;
}
.card-body
{
    background-color: #FFFFE3 !important;
}

.sec1 img{
    border-radius: 100%;
}

#blog .col-lg-4:nth-child(n+5)
{
    display: none;
}
.bg-dark 
{
    background-color: #000 !important;
    transition-duration: .5s;
}
footer 
{
    letter-spacing: 5px;
}
footer i 
{
    color: red;
    animation: beat 3s  infinite linear ;
}
@keyframes beat {
    0%
    {
        transform: scale(1.0);
    }
    50%
    {
        transform: scale(1.2);
    }
    100%
    {
        transform: scale(1.0);
    }
    
}
@media(max-width:768px)
{
    #projects .col-lg-4:nth-child(n+3) 
    {
        display: none !important;
    }
    #blog .col-lg-4:nth-child(n+4)
{
    display: none;
}
    .wid 
    {
        width: 100%;
    }

}

@media(max-width:500px)
{
    html 
    {
        font-size: 14px;
    }
    .padcet
 {
    padding: 40px 30px !important;
}
#about-me ul 
{
    margin: 0 auto;
}
.activa
{
    height: 44vh;
}
    #projects .col-lg-4:nth-child(n+2) 
    {
        display: none !important;
    }
    .moverot ,.moverot2 
    {
        display: none;
    }
    .contact-bottom img
    {
      
        top: 0;
    }
}